---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { m } from "@/paraglide/messages";
---

<DefaultLayout title={m.index_title()} description={m.index_description()}>
  <h1>{m.index_h1()}</h1>
</DefaultLayout>
