---
import { Head, type HeadProps } from "eminence-astro-suite/components";
import "@/styles/global.css";
import Fonts from "@/components/Fonts.astro";

import { getLocale } from "@/paraglide/runtime";

interface Props extends HeadProps {}
---

<!doctype html>
<html lang={getLocale()}>
  <Head {...Astro.props}>
    <Fonts />
    <slot name="head" />
  </Head>
  <body>
    <slot name="body-start" />
    <slot />
    <slot name="body-end" />
  </body>
</html>
